*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: #1E3050;
}

.img-box{
    height: 700px;
    overflow: hidden;
    border: #254070 solid 3px;
}

.photo{
    height: 700px;
}

.op-1{
    opacity: 1;
}

.op-0{
    opacity: 0;
}

i{
    color: rgb(181, 181, 181);
    background-color: #254070;

    border-radius: 28px;
    font-size: 45px;
}

i:nth-of-type(1){
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

i:nth-of-type(2){
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
}



.small-img{
    height: 140px;
}