*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: #1E3050;
}

.img-box{
    height: 700px;

    overflow: hidden;
    
    border: #254070 solid 3px;
}

.photo{
    height: 700px;
}

#logo{
    font-size: 60px;
}

#up-arrow, #down-arrow{
    color: rgb(181, 181, 181);
    background-color: #254070;

    border-radius: 28px;
    font-size: 45px;

    cursor: pointer;
}

#up-arrow{
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

#down-arrow{
    left: 50%;
    transform: translate(-50%);
    top: 640px;
}

.small-img{
    height: 140px;

    border-left: #254070 solid 3px;

    cursor: pointer;
}

.slider .slide:not(.active) {
    display: none;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    padding: 24px;

    cursor: pointer;
}

#buttons button {
    padding: 12px 13px;

    background-color: #254070;

    border-radius: 12px;
}

#arrows > *:hover {
    cursor: pointer;

    transform: scale(1.2);
}

.slider .slide .details {
    position: absolute;
    bottom: 0;
    right: 0;

    color: white;
    padding: 18px;
    padding-bottom: 36px;

    text-align: right;
}

.details .title {
    margin-bottom: .4em;
}

.slider .slide {
    position: relative;

    height: 100%;
}
